@(tagListIds:Seq[String])

@import utils.Constants.ParamName.tagListId
@import utils.Constants.ParamName.result
@import utils.Constants.ParamName.ok
@import utils.Constants.ParamName.error
@import utils.Constants.ParamName.content

@main("Feeds") {
      <script type="text/javascript">
        function getWordCloud(target, tagListId) {
          var param = {'@tagListId': tagListId}
          $.ajax({
            url:"@routes.Reader.asyncWordCloud",
            type:"GET",
            data:param,
            beforeSend:function(xhr) {
              $("#"+target).html("単語クラウド取得中・・・");
            },
            success:function(data) {
              if (data["@result"] == "@ok") {
                var result = "";
                for(var prop in data["@content"]) {
                  result += "<span style='font-size:" + Math.ceil(data["@content"][prop]/3) + "ex;'>" + prop + "</span>&nbsp;&nbsp;";
                }
                $("#"+target).html(result);
              }
              else {
                $("#"+target).html("error cause: " + data["@error"]);
              }
            }
          });
        }
      </script>
      <div class="content">
        <table class="zebra-striped">
          <thead>
            <tr><th>Google Readerのラベル</th><th>Feeds中で複数回出現する単語クラウド</th></tr>
          </thead>
          <tbody>
          @tagListIds.zipWithIndex.map { case(tagListId, i) =>
            <tr>
              <td>@tagListId.split("/").last</td>
              <td><span id="wc-@i"><button class="wordcloud" onclick="getWordCloud('wc-@i', '@tagListId')">単語クラウド表示</button></td>
            </tr>
          }
          </tbody>
        </table>
      </div>
}